{% extends 'base.html' %}
{% block title %}Error (˘･_･˘){% endblock title %}
{% block content %}
  <div class="container">
    <div class="d-flex justify-content-center my-5">
      <div class="text-center">
        <h1 class="display-1 fw-bold">(˘･_･˘)</h1>
        <p class="fs-1">
          <span class="text-danger"><strong>Page not found!</strong></span>
        </p>
        <div class="text-lg-start">
          Try:<ul>
            <li>Check if URL is correct.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}