{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock title %}
{% block content %}
  <main class="container">
    <div class="row g-5">
      <div class="col-md-8">
        <h3>{{ article.title }}</h3> <hr>
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <a href="{% url 'posts-by-category' article.category.id %}"><strong class="d-inline-block mb-2 text-primary-emphasis">{{ article.category }}</strong></a>
              <h3 class="mb-0">{{ post.title }}</h3>
              <div class="mb-1 text-body-secondary">{{ article.created_at|timesince }} ago | {{ article.author }}</div>
              <figure class="mb-4"><img class="img-fluid rounded" src="{{ article.featured_image.url }}" alt="..." /></figure>
              <p class="card-text mb-auto">{{ article.blog_body }}</p>
            </div>
          </div>
          <h4>Comment{{ comments_count|pluralize }} ({{ comments_count }})</h4><hr>
          {% if user.is_authenticated %}
            <div class="card my-3 shadow">
              <div class="card-body">
                <div class="form-group">
                  <form action="" method="POST"> {% csrf_token %}
                    <div class="form-group">
                      <textarea name="comment" class="form-control" placeholder="Write comment here..."></textarea>
                      <input type="submit" value="submit" class="btn btn-dark rounded-pill mt-2">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% else %}
            <span><a href="{% url 'signin' %}">Signin</a></span> to add comment.<hr>
          {% endif %}
          {% if comments %}
            {% for comment in comments %}
              <div class="card my-1 shadow-sm">
                <div class="card-body">
                  <span class="badge bg-dark rounded-pill text-white">{{ comment.user }} | {{ comment.created_at|timesince }} ago</span>
                  <p class="card-text">{{ comment }}</p>
                </div>
              </div>
            {% endfor %}
          {% else %}
            No comments
          {% endif %} <br>
      </div>
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">{{ article.short_description }}</p>
          </div>
          <div class="p-4">
            <h4 class="fst-italic">Follow us</h4>
            <ol class="list-unstyled">
              {% for platform, link in social_links.items %}
                {% if link %}
                  <li><a href="{{ link }}" style="text-decoration: none;">{{ platform|capfirst }}</a></li>
                {% endif %}
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}