{% extends 'base.html' %}
{% block title %}{{ query }}{% endblock title %}
{% block content %}
  <main class="container">
    <div class="row g-5">
      <div class="col-md-8">
        <h3>Search for: {{ query }}</h3> <hr>
        {% if blogs %}
          {% for post in blogs %}
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">{{ post.category }}</strong>
                <h3 class="mb-0">{{ post.title|truncatechars:50 }}</h3>
                <div class="mb-1 text-body-secondary">{{ post.created_at|timesince }} ago | {{ post.author }}</div>
                <p class="card-text mb-auto">{{ post.short_description|truncatechars:300 }}</p>
                <a href="{% url 'blog' post.slug %}" class="icon-link gap-1 icon-link-hover stretched-link">
                  Continue reading
                </a>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>No posts found</p>
        {% endif %}
      </div>
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
          </div>
          <div class="p-4">
            <h4 class="fst-italic">Follow us</h4>
            <ol class="list-unstyled">
              {% for platform, link in social_links.items %}
                {% if link %}
                  <li><a href="{{ link }}" style="text-decoration: none;">{{ platform|capfirst }}</a></li>
                {% endif %}
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}