{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      {% include 'dashboard/sidebar.html' %}
      <div class="col-md-9">
        <h2>Welcome, <b>{{ user }}</b></h2><hr>
        <div class="row">
          {% if perms.blog.view_category %}
            <div class="col">
              <div class="card shadow border-default mb-3">
                <div class="card-header text-center font-weight-bold"><h4>Categories</h4></div>
                <div class="card-body text-dark">
                  <h4 class="card-title text-center">{{ category_count }}</h4>
                </div>
              </div>
            </div>
          {% endif %}
          {% if perms.blog.view_blog %}
            <div class="col">
              <div class="card shadow border-default mb-3">
                <div class="card-header text-center font-weight-bold"><h4>Posts</h4></div>
                <div class="card-body text-dark">
                  <h4 class="card-title text-center">{{ blogs_count }}</h4>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}