{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Edit category{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      {% include 'dashboard/sidebar.html' %}
      <div class="col-md-9">
        <h2>Edit Category</h2><hr>
        <form action="{% url 'edit-category' category.id %}" method="POST" style="width: 500px;"> {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-dark rounded-pill">Submit</button>
        </form><br>
      </div>
    </div>
  </div>
{% endblock content %}